# ADD YOUR KEYS HERE for local testing and rename this file to `.env`
# DO NOT push actual .env files to GitHub!

PORT=3000
OPENAI_API_KEY="sk-proj-YOUR_OPENAI_KEY_HERE"
DEEPGRAM_API_KEY="YOUR_DEEPGRAM_KEY_HERE"
