name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Replace Secrets
        run: |
          sed -i 's|%%OPENAI_API_KEY%%|${{ secrets.OPENAI_API_1 }}|g' main.js
          sed -i 's|%%OPENAI_API_KEY%%|${{ secrets.OPENAI_API_1 }}|g' recipe-book.html
          sed -i 's|%%DEEPGRAM_API_KEY%%|${{ secrets.DEEPGRAM_API }}|g' recipe-book.html

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./
